<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%= link_to 'Edit your article', edit_article_path(@article) %>
<%= link_to 'Delete your article', article_path(@article), data: {turbo_method: :delete}%>
<%= link_to 'Home', articles_path %>
